
<footer>

  <div class="wrapper">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.name }}.
    {{ site.footer_text }}
    {% if site.last_updated %}
        Last updated: {{ site.last_updated }}.
    {% endif %}
    :sambaiga@gmail.com
  </div>

</footer>

<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/popper/dist/umd/popper.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>


<script>
$(document).ready(function(){
    var str =$(this).attr('id');
    
    $(".btnId").click(function(){
        var str = $(this).attr('id');
        var ret = str.split("_");
        var id = ret[1];
        $('#' + id).toggle();
    });
});

  
$(document).ready(function() {
    $('a.abstract').click(function() {
        $(this).parent().parent().find(".abstract.hidden").toggleClass('open');
    });
    $('a.bibtex').click(function() {
        $(this).parent().parent().find(".bibtex.hidden").toggleClass('open');
    });
});
</script>

