---
layout: default
---
<div class="home">
{{reference}}

<div id="{{entry.key}}">

  <span class="links">
  {% if entry.doi %}
    [doi: <a href="http://dx.doi.org/{{entry.doi}}">{{entry.doi}}</a>]
    {% endif %}
  {% if entry.abstract %}
    [<a class="abstract">Abs</a>]
  {% endif %}
  {% if entry.arxiv %}
    [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
  {% endif %}
  {% if entry.url %}
    [<a href="{{ entry.html }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>]
  {% endif %}
  
  {% if entry.link %}
   [<a href="{{link}}"><i class="fa fa-download" aria-hidden="true"></i></a>]
    {% endif %}

  {% if entry.pdf %}
    [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</a>]
  {% endif %}
  {% if entry.supp %}
    [<a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
  {% endif %}
  {% if entry.poster %}
    [<a href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>]
  {% endif %}
  {% if entry.slides %}
    [<a href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>]
  {% endif %}
  {% if entry.code %}
    [<a href="{{ entry.code }}" target="_blank">Code</a>]
  {% endif %}
  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  {% endif %}
</div>
</div>
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="{{ site.base }}/assets/js/common.js"></script>